---
import { todosLosProductos } from '../lib/tiposProductos.ts';
import Product from './Product.astro';
---
<div class="flex flex-wrap gap-5 justify-center items-center py-10">
  {
    todosLosProductos.map((producto) => (
      <Product {...producto} />
    ))
  }
</div>